@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-slate-100 dark:bg-slate-800;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  @apply text-slate-800 dark:text-slate-100;
}

p {
  @apply text-slate-700 dark:text-slate-400 text-sm leading-loose lg:text-base lg:leading-relaxed;
}
